html, body{
	background: url(../img/subtle_grunge.png) repeat 0 0;
	font-family: "Open Sans";
	height:100%;
}

.navbar{
	border-color: transparent;
}

.navbar-inner{
	background:transparent;
	border-color: transparent;
	border:0px;
}

.bf-container-fluid{
	min-height: 95%;
	height:95%;
}

.cube-img{
	display:block;
	margin-left: auto;
	margin-right: auto;
	max-height:100%;
}

.bf-span{
	margin:0 auto;
	float:none;
	padding:50px;
}

.bf-span2{
	margin:0 auto;
	float:none;
}

h1, .band-name{
	letter-spacing: 5px;
	color: #777777;
	font-weight: bold;
}

.footer{
	margin-top:50px;
	border:1px solid;
	border-color: transparent;
	background: url(../img/congruent_pentagon.png) repeat 0 0;
}

.video{
	margin:0 auto;
	display:block;
}

p{
	font-style:italic;
}

.borderless{
	margin:30px;
}
.borderless td {
	border:transparent;
}
